.text {
  font-size: map-get($ts-10, font-size);
  line-height: map-get($ts-10, line-height);
  margin: 0;
  padding-bottom: $spacing;

  @media (min-width: $breakpoint-md) {
    font-size: map-get($ts-9, font-size);
    line-height: map-get($ts-9, line-height);
  }
}

.h1 {
  font-size: map-get($ts-7, font-size);
  line-height: map-get($ts-7, line-height);
  font-weight: 500;
  margin: 0;

  @media (min-width: $breakpoint-md) {
    font-size: map-get($ts-4, font-size);
    line-height: map-get($ts-4, line-height);
  }
}

.h2 {
  font-size: map-get($ts-8, font-size);
  line-height: map-get($ts-8, line-height);
  font-weight: 500;
  margin: 0;

  @media (min-width: $breakpoint-md) {
    font-size: map-get($ts-5, font-size);
    line-height: map-get($ts-5, line-height);
  }
}

.h3 {
  font-size: map-get($ts-8, font-size);
  line-height: map-get($ts-8, line-height);
  font-weight: 500;
  margin: 0;

  @media (min-width: $breakpoint-md) {
    font-size: map-get($ts-6, font-size);
    line-height: map-get($ts-6, line-height);
  }
}

.h4 {
  font-size: map-get($ts-9, font-size);
  line-height: map-get($ts-9, line-height);
  font-weight: 500;
  margin: 0;

  @media (min-width: $breakpoint-md) {
    font-size: map-get($ts-7, font-size);
    line-height: map-get($ts-7, line-height);
  }
}

.h5 {
  font-size: map-get($ts-9, font-size);
  line-height: map-get($ts-9, line-height);
  font-weight: 500;
  margin: 0;

  @media (min-width: $breakpoint-md) {
    font-size: map-get($ts-8, font-size);
    line-height: map-get($ts-8, line-height);
  }
}

.h6 {
  font-size: map-get($ts-10, font-size);
  line-height: map-get($ts-10, line-height);
  font-weight: 500;
  margin: 0;

  @media (min-width: $breakpoint-md) {
    font-size: map-get($ts-9, font-size);
    line-height: map-get($ts-9, line-height);
  }
}

.u-fw-600 {
  font-weight: 600;
}
