.title-1 {
  font-size: map-get($ts-6, font-size);
  line-height: map-get($ts-6, line-height);
  font-family: $title-font;
  font-weight: 600;
  margin: 0;

  @media (min-width: $breakpoint-md) {
    font-size: map-get($ts-1, font-size);
    line-height: map-get($ts-1, line-height);
  }
}

.title-2 {
  font-size: map-get($ts-7, font-size);
  line-height: map-get($ts-7, line-height);
  font-family: $title-font;
  font-weight: 600;
  margin: 0;

  @media (min-width: $breakpoint-md) {
    font-size: map-get($ts-3, font-size);
    line-height: map-get($ts-3, line-height);
  }
}

.title-3 {
  font-size: map-get($ts-8, font-size);
  line-height: map-get($ts-8, line-height);
  font-family: $title-font;
  font-weight: 600;
  margin: 0;

  @media (min-width: $breakpoint-md) {
    font-size: map-get($ts-6, font-size);
    line-height: map-get($ts-6, line-height);
  }
}
