/* ----------------
COLORS
---------------- */

$colors: (
  dark: #000000,
  light: #FFFFFF,
  primary: #9971FF,
  primary-light: #D1A6FD,
  secondary: #9DD9FB,
  tertiary: #FEE934,
);


/* ----------------
TYPOGRAPHY
---------------- */

$title-font: '1617', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/* ----------------
TYPESCALE
---------------- */

$ts-1: (
  font-size: 103px,
  line-height: 167px
);
$ts-2: (
  font-size: 86px,
  line-height: 139px
);
$ts-3: (
  font-size: 72px,
  line-height: 117px
);
$ts-4: (
  font-size: 60px,
  line-height: 97px
);
$ts-5: (
  font-size: 50px,
  line-height: 81px
);
$ts-6: (
  font-size: 42px,
  line-height: 68px
);
$ts-7: (
  font-size: 35px,
  line-height: 57px
);
$ts-8: (
  font-size: 29px,
  line-height: 47px
);
$ts-9: (
  font-size: 24px,
  line-height: 39px
);
$ts-10: (
  font-size: 20px,
  line-height: 32px
);

/* ----------------
SPACING
---------------- */

$spacing: 8px;

/* ----------------
RESPONSIVE
---------------- */

$breakpoint-sm: 768px;
$breakpoint-md: 992px;
